.header {
    max-height: 100px;
    position: fixed;
    width: 100%;
    padding: 32px 32px;
    z-index: 10;
    &__shadow {
        box-shadow: 0px 50px 65px 100px rgba(0, 0, 0, 0.9);
        position: absolute;
        top: -35px;
        left: 0;
        width: 100%;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__burger {
        margin-right: 64px;
        background: transparent;
        border: none;
        cursor: pointer;
        & img {
            width: 42px;
            height: 32px;
        }
    }
}

.menu {
    position: absolute;
    z-index: 999;
    background-image: url("../../assets/img/texture.png");
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: .3s all;
    top: -1000%;
    right: -1000%;
    /* &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/img/line_bg.svg");
        opacity: .1;
    } */
    &_show {
        right: 0;
        top: 0;
    }
    &__header {
        padding: 32px 32px 0 32px;
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: calc(100vw - 100px);
        justify-content: space-between;
    }
    &__logo img{
        z-index: 9999;
        //filter: invert(100);
        width: 60px;
        height: 60px;
    }
    &__close {
        border: none;
        cursor: pointer;
        background: transparent;
        & img {
            width: 30px;
            height: 30px;
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        gap: 420px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
    }
    &__item{
        &:first-child {
            display: flex;
            flex-direction: column;
            gap: 125px;
            margin-left: 311px;
        }
        &:last-child {
            display: flex;
            flex-direction: column;
            margin-right: 331px;
            gap: 16px;
        }
    }
    &__link {
        font-weight: 275;
        font-size: 88px;
        line-height: 75px;
        color: #3C3C3C;
        text-decoration: none;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            transform: translateX(-200%);
            width: 100%;
            height: 2px;
            top: 50%;
            background-color: #3C3C3C;
            transition: .5s all;
        }
        &:hover {
            &:before {
                transform: translateX(-100%);
            }
        }
    }
    &__title {
        font-weight: 400;
        font-size: 34px;
        line-height: 128.1%;
        letter-spacing: 0.035em;
        color: #373631;
    }
    &__descr {
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        color: #373631;
    }
    &__top {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__mid {
        display: flex;
        flex-direction: column;
    }
    &__mail {
        font-weight: 300;
        font-size: 20px;
        line-height: 158.9%;
        color: #373631;
        text-decoration: none;
        margin-top: 10px;
    }
    &__tel {
        font-weight: 400;
        font-size: 20px;
        line-height: 149.9%;
        color: #373631;
        text-decoration: none;
    }
    &__bot {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
}